<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="row w-100 justify-content-between">
            <div class="col-sm-3">
                <div class="navbar-brand">
                    <a class="nav-link" href="">
                        <div class="container">
                            <div class="row text-light text-primary border-bottom border-light">
                                Leslie E. Forero
                            </div>
                            <div class="row text-light text-muted text-secondary">
                                 Post-Doctoral Researcher
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item p-2">
                        <NavLink Match="NavLinkMatch.All" class="nav-link" href="" >
                            <span class="oi oi-home" aria-hidden="true">
                                Home
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item p-2">
                        <NavLink class="nav-link" href="Publications">
                            <span class="oi oi-book" aria-hidden="true">
                                Publications
                            </span>
                        </NavLink>
                    </li>
                    <li class="nav-item p-2">
                        <NavLink class="nav-link" href="Contact">
                            <span class="oi oi-person" aria-hidden="true">
                                Contact
                            </span>
                        </NavLink>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</nav>